.content-header {
  display: flex;
  flex-direction: row;
  color: $font-color;
  margin-left: 24px;
  @include mq('small'){
    margin-left: 0;
  }

  .content-title {
    min-width: 136px;
    padding-top: 24px;
    border-right: 1px solid $line-color;
    @include mq('small'){
      display: none;
    }
  }
  .search-wrapper {
    flex: 1;
    width: 100%;
    min-width: 440px;
    background: #fbfbfb;
    border-bottom: 1px solid $line-color;
    @include mq('small'){
      display: block !important;
      text-align: center;
    }
  }
}

.alert-list {
  list-style-type: none;
  padding-left: 0;
  margin: 24px;
}

.alert-box-item {
  font-size: .8em;
  background: $main-color;
  color: $font-color-light;
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 0;
  margin-bottom: 16px;
  &:before {
    content: 'Alert';
    font-weight: 700;
    padding-right: 8px;
  }
  .close {
    font-weight: bold;
    font-size: 1.5em;
    float: right;
    position: relative;
    top: -5px;
    cursor: pointer;
  }
}


