.content-header {
  display: flex;
  flex-direction: row;
  color: $font-color;
  margin-left: 24px;
  @include mq('small'){
    margin-left: 0;
  }

  .content-title {
    min-width: 136px;
    padding-top: 24px;
    border-right: 1px solid $line-color;
    @include mq('small'){
      display: none;
    }
  }
  .search-wrapper {
    flex: 1;
    width: 100%;
    min-width: 440px;
    background: #fbfbfb;
    border-bottom: 1px solid $line-color;
    @include mq('small'){
      display: block !important;
      text-align: center;
    }
  }
}




