* {
  box-sizing: border-box;
}

html {
  background: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  background: white;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
